@page
@model FYP_3DPrinterMonitor.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a little website, built using using ASP.Net core, Razor pages, Typescript, and is all hosted by me.
    The main purpose of this site is to give you a little insight to me, my interests, and some of my work.</p>

    <table class="table align-content-center">
        <tr>
            <td> <p class="card-header">Languages I have experience with:</p>
                <ul class="list-inline">
                    <li>
                        C#
                    </li>
                    <li>
                        C++
                    </li>
                    <li>
                        C
                    </li>
                    <li>
                        Java
                    </li>
                    <li>
                        JavaScript
                    </li>
                    <li>
                        Css
                    </li>
                    <li>
                        HTML
                    </li>
                    <li>
                        Powershell
                    </li>
                    <li>
                        Python
                    </li>
                    <li>
                        PHP
                    </li>
                    <li>
                        #BASH
                    </li>
                    <li>
                        SQL/MariaDB
                    </li>
                    <li>
                        Lua
                    </li>
                </ul>
            </td>
            <td> <p class="card-header">Technologies I have experience with:</p>
				<ul class="list-inline">
					<li>
						<a href="https://docs.microsoft.com/en-us/aspnet/core/?view=aspnetcore-3.1" target="_blank">ASP.Net Core</a>
					</li>
					<li>
						<a href="https://docs.microsoft.com/en-us/aspnet/core/razor-pages/?view=aspnetcore-3.1&tabs=visual-studio" target="_blank">Razor</a>
					</li>
					<li>
						<a href="https://unity.com/" target="_blank">Unity</a>
					</li>
					<li>
						<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Overview" target="_blank">HTTP</a>/<a href="https://restfulapi.net/" target="_blank">REST Api's</a>
					</li>
					<li>
						<a href="https://www.paloaltonetworks.com/" target="_blank">Palo Alto Firewalls</a>
                    </li>
					<li>
						<a href="https://www.linuxfoundation.org/" target="_blank">Linux</a>
                    </li>
					<li>
						<a href="https://www.freenas.org/" target="_blank">Freenas</a>
                    </li>
					<li>
						<a href="https://www.ibm.com/support/knowledgecenter/STSLR9_8.2.1/com.ibm.fs9100_821.doc/svc_iscsisancoverview_08301435.html" target="_blank">ISCSI</a>
                    </li>
					<li>
						<a href="https://www.ipfire.org/" target="_blank">IPFire Linux Firewall</a>
                    </li>
					<li>
						<a href="https://www.sonicwall.com/" target="_blank">Sonicwall Firewalls</a>
                    </li>
					<li>
						<a href="https://www.opengl.org/" target="_blank">OpenGL</a>
                    </li>
					<li>
						<a href="https://www.checkpoint.com/" target="_blank">Checkpoint Firewalls</a>
                    </li>
					<li>
						<a href="https://www.imperva.com/" target="_blank">Imperva WAF</a>
                    </li>
					<li>
						<a href="" target="_blank">Python
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
