<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<title>Home</title>
	<link rel="stylesheet" href="Style/FYPStyles.css">
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
	<script src="Scripts/FYPsite.js"></script>
</head>
<body>

</body>
</html>
