input[type='submit'], button, [aria-label] {
	cursor: pointer;
}

#spoiler {
	display: none;
}

table {
	font-family: Arial, sans-serif;
	border: 1px solid;
	border-collapse: collapse;
}

th {
	background-color: #0066CC;
	color: white;
}

td {
	border: 1px solid;
	padding: 5px;
}

#Header_Top_Page {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: center;
}

#Main_Body {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
}

#Main_Body #Spacer_1 {
	padding-left: 10px;
	padding-right: 10px;
}

#Main_Body #Stats_Holder {
	display: flex;
	border: solid;
	border-width: medium;
}

#Header_Setup #Stream_Header_Container {
}

#Main_Body #Image_Container #Stream{
	/*display: block;*/
	vertical-align: bottom;
	border: solid;
	border-width: medium;
	/*border-bottom-width:0px;*/
}
